.about-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.text {
  padding-top: 150px;
  color: white;
  text-align: left;
}

.text > h2{
  font-size: 70px;
}

.text > h1{
  color: yellow;
  font-size: 20px;
}

.image img {
  max-width: 80%;
  height: auto;
}

.image{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  color: yellow;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 12px;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.material-icons {
  font-size: 20px;
  vertical-align: middle;
  color: yellow;
}


