<div class="about-wrapper">
  <div class="text">
    <h2>Lorem ipsum</h2>
    <h1>dolor sit</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipis beatae ex obcaecati
      consequatur? Provident, exercitationem.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero inventore
      odio labore, facilis, eos quo tenetur nihil debitis quod porro fugit
      explicabo at tempora est iusto similique ullam nesciunt nobis.
    </p>
    <button class="btn">
      Let's get started <span class="material-icons">arrow_forward</span>
    </button>
  </div>

  <div class="image">
    <img src="assets/about.png" alt="Image" />
  </div>
</div>