.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.reg-form-wrapper {
  padding: 30px;
  border-radius: 20px;
  margin-top: 200px;
  border: 1px solid #344;
}
