.hero {
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  color: #777;
}

.features {
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features h2 {
  font-size: 2rem;
  color: #333;
}
