html,
body {
  min-height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  background: linear-gradient(
    108.13deg,
    #320000 1%,
    #0f0323 37.66%,
    #322204 72.27%,
    #000230 98.74%
  );
}
